.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #fa7d44, #fb6263, #eb5454);
    height: 70px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
