.video-wrapper {
    margin-top: 16px;
    margin-left: 32px;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    margin-top: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-information {
    margin-top: 8px;
}

.des {
    color: #000;
}
