.title {
    margin-top: 16px;
    margin-left: 32px;
}

.text-title {
    word-spacing: 3px;
}

.container-add {
    display: inline-block;
    margin: 32px 32px;
}

.button-add {
    height: 120px;
    width: 120px;
    border-radius: 8px;
    font-size: 40px;
}

.title-add {
    color: rgb(1, 143, 55);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
