.wrapper {
    max-height: 100vh;
}

.title {
    margin-top: 16px;
    margin-left: 32px;
}

.text-title {
    word-spacing: 3px;
}

.container-add {
    display: inline-block;
    margin: 32px 32px;
}

.button-add {
    height: 90px;
    width: 90px;
    border-radius: 8px;
    font-size: 40px;
}

.title-add {
    color: rgb(1, 143, 55);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.edit {
    background-color: rgb(214, 197, 9);
    padding: 5px 5px;
    border-radius: 8px;
    color: #fff;
    border-color: #fff;
    //font-weight: 700;
}

.edit:hover {
    background-color: #fff;
    color: rgb(214, 197, 9);
    cursor: pointer;
    font-weight: bold;
}

.delete {
    background-color: rgb(196, 6, 6);
    padding: 5px 5px;
    border-radius: 8px;
    color: #fff;
    border-color: #fff;
    font-weight: bold;
}

.delete:hover {
    background-color: #fff;
    color: rgb(196, 6, 6);
    cursor: pointer;
}

.underline {
    color: rgb(0, 159, 217);
    text-decoration: underline;
}
